<html>
    <head>
        <title>Tim is a noob at coding</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <h1>Here's some practice</h1>

        <div>
        <h2>A video</h2>
        <h3>Let's try a third-level subheading first</h3>
        <h4>Level four subheading</h4>
        <h5>Level five subheading</h5>
        <h6>Level six, smallest subheading</h6>
        <a href='https://www.youtube.com/watch?v=GCmumpsrwBE'>Here's a cool video by Fr. Mike Schmitz</a>
        </div>

        <div>
        <h2>A list</h2>
        <p>Some of my <em>really</em> <strong>favorite</strong> things are:</p>
        <ul><li>chocolate</li><li>strawberries</li><li>chocolate strawberries</li></ul>
        </div>
    </body>
</html>